
.contactItem {
  display: flex;
  flex-direction: column;
  position: relative;
}

.contactIcon {
  transform: scale(3);
  transition: 0.2s;
}

.contactIcon:hover {
  transform: scale(4);
}

.toolTip {
  position: absolute;
  top: 3rem;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;
  white-space: nowrap;
  transition: 0.2s ease;
  padding: 0.5rem;
  background: var(--dark-gunmetal);
  border-radius: 0.5rem;
}