.workItems {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: calc(100% + 1rem);
  align-items: end;
  gap: 1rem;
  overflow-x: auto;
  margin-bottom: 1rem;
  margin-left: -0.5rem;
}

.workItems::-webkit-scrollbar {
  height: 0.5em;
}
 
.workItems::-webkit-scrollbar-track {
  border-radius: 1rem;
}
 
.workItems::-webkit-scrollbar-thumb {
  background-color: rgba(255,255,255,.1);
  border-radius: 1rem;
}