@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Noto+Sans&display=swap');
:root {
  --default-font: 'Noto Sans', sans-serif;
  --logo-font: 'Lexend Deca', 'Noto Sans', sans-serif;
  --gunmetal: #242e34;
  --dark-gunmetal: #192024;
  --middle-blue: #6dc9d0;
  --middle-red: #e68c6b;
  --satin-sheen-gold: #b69a3f;
  --pear: #D6D84F;
  --orchid-pink: #DBB1BC;
  --pomp-and-power: #966B9D;
  --old-rose: #C98686;
  --ashen-wind: #95aab5;
}

.default {
  --base: var(--gunmetal);
  --light-base: var(--ashen-wind);
  --primary: var(--middle-blue);
  --accent1: var(--pear);
  --accent2: var(--orchid-pink);
  --accent3: var(--pomp-and-power);
  --accent4: var(--old-rose);
}

* {
  box-sizing: border-box;
  /* cursor: none !important; */
}

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
}

::selection {
  background: var(--pear);
  color: var(--dark-gunmetal);
}
::-moz-selection {
  background: var(--pear);
  color: var(--dark-gunmetal);
}

.wrapper {
  font-family: var(--default-font);
  background-color: var(--base);
  color: var(--primary);
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem 0.5rem;
  /* background: linear-gradient(30deg, #242E34, #192024), url(https://grainy-gradients.vercel.app/noise.svg); */

  @media (min-width: 1200px) {
    padding: 0.5rem;
  }
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50%;
}

a {
  color: var(--accent4);
  text-decoration: none;
}
a:hover, a:active {
  text-decoration: underline;
  -webkit-tap-highlight-color: transparent;
}

.pageTitle {
  font-size: 2rem;
  margin: 0;
  text-transform: uppercase;
  font-family: var(--logo-font);
  position: absolute;
  top: 5%;
  white-space: nowrap;

  @media (min-width: 600px) {
    font-size: 2.5rem;
  }

  @media (min-width: 1200px) {
    font-size: 3rem;
  }
}

.mainOnRoute {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;

  @media (min-width: 1200px) {
    padding: 0 2rem;
  }
}